div{
    color: green 
}
/* Four Pillar Properties */
/* list property */
ul{
    list-style:circle; 
}
/* font property */
p{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-style: italic;
}
/* text property */
p{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background-color: rgb(77, 255, 0);

}
/* border property */
p{
    /* border - bordersize, border-style , border color */
    border: 5px dotted red;
}
/* selectors 
    Class selectors -group sets
     Id selectors - unique*/
    /* in element we can have class & id , multipe clas, 
    but only one id for an element */
/* class selectors - > . opertor symble */
/* for group styleing we use Classes */
/*  class selector is used to select all elements 
which belong to a particular class attribute. In 
order to select the elements with a particular class, 
use the period (.) character specifying the class name ie.
, it will match the HTML element based on the contents of their class attribute. */
/* we can use mulitile classes in the single element */

.clr{
    background-color: black;
    color: white;
}

.alg{
    text-align: center;
}
.opr{
    text-align: center;
}
.clr2{
    border: 5px dotted yellow !important ;
    font-size: larger;
}
/* id selector -> # operator symble */
/* First priorty, we can change the prority by  */
/* only one id in the single element */
/* for unique styleing we use ID */
#borer_doted{
    border: 3px dashed red;
    background-color: blue;
}
#border-dashed{
    border: 4px dashed blue;
}

/* display property: inline, block */

/* -> i.converting inline to block element */
/* on inline element width and height will not work
because span will take only given sapce */
/* to convert from inline to block use display porperty as Block */
.block{
    display: block; /*converting inline to block (span to div)*/
    background-color: red;
    padding: 5px;
    margin: 10px;
    /* width: 70px;
    /* height: 20px; IN Inline width and height will not work*/
    width: 100px;
    height: 20px; /*after converting to block it will work*/
    text-align: center;

}
.inline{
    display: inline; /*coverting block to inline( div to span)*/
    background-color: red;
    padding: 5px;
    margin: 10px;
    /* width: 70px;
    height: 20px; IN Inline width and height will not work */
    text-align: center;
}
.inline-block{
    display: inline-block; /*coverting block to inline (div to span ) */
    background-color: red;
    padding: 5px;
    margin: 10px;
    width: 100px;/*IN inline property width and height will work*/
    height: 20px; 
    text-align: center;
}