*{
    margin: 0;
    padding: 0;
}
/* i have isssue in layout it is not refectliting in the 
brower style */
.box-model{  /* Box model - box design*/
    border :10px solid black; /* outside border*/
    width: 200px; 
    height: 200px;  
    background-color: yellow;
    margin : 60px 20px; /* 2 means top,down & left right*/
    padding : 60px 15px 60px 15px; 
             /* top right bottom left */
}
